sidebar {
  background-color: '#202020';
  min-width: '25vw';
  min-height: '73.1vh';
  color: 'white';
  font-size: '20px';
  padding-top: '5rem';
  padding-left: '3rem';
}
head {
  font-family: 'Montserrat; sans-serif';
  font-size: '55px';
  font-weight: 'bold';
}
subhead {
  font-family: 'Arial';
  font-size: '25px';
  font-weight: 'lighter';

  opacity: '0.7';
  margin-bottom: '1rem';
}
hoverButtons {
  line-height: '1.75rem';
}
hoverButtons:hover {
  opacity: '1';
  color: 'red';
}
